body {
  font: comic sans MS;
  background-color: lightgray;
}

h1,h2 {
  text-align: center;
  color: red;
}

.menu{
  height: 50vh;
  width: 25vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: grey;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
}

.button{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: orange;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  margin-bottom: 50px;
}

.button:hover{
  background-color: red;
}

.container {
  height: 75vh;
  width: 45vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: grey;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
}
/* PICTOGRAMMEN */
#pictogram {
  /* nog niets */
}


.klassepictogram{
  background-color: darkorange;
  height: 20%;
  width: 20%;
  margin: 25px;
  box-sizing: border-box;
  align-items: center;
  position: relative;
  border-radius: 5px;
}

/* Classlists voor klassepictogram */
.klassepictogram.klik{
  transform:  rotateY(180deg);
  transition-duration: 0.5s;
  background-color:grey;
  image-resolution: 0;
  
}

/* Images */
.hidden{
  display: none;
}

img{
  height: 100%;
  width: 100%;
}

/* Media queries */
@media screen and (max-width: 1800px )
{
  .container{
    width: 55vw;
  }
  .klassepictogram{
    margin: 10px;
    height: 20%;
  }

}

@media screen and (max-width:  1000px )
{
  .container{
    width: 80vw;
  }

  /* #pictogram{ */
    /* voorlopig niks */
  /* } */
}


@media screen and (max-width : 768px)
{
  .container{
    height: 50vh;
    width: 95vw;
  }

  .klassepictogram{
    height: 18%;
    margin: 5px;
  }

 
}