* {
    box-sizing: border-box;
    margin:0;
}

body {
    font-family: verdana, Arial, Helvetica, sans-serif;
    background-color: lightgrey;
    padding:0.5em;
}

h1, table {
    margin:1em 0;
}

button {
    background-color: brown;
    color: white;
    border-style: none;
    border-radius: 0.5em;
    padding: 0.2em;
    min-width:15em;
}
label {
    display: block;
}
form p {
    margin-bottom: 1em;
}
input {
    padding: 0.2em;
}
td {
    padding: 0.2em;
}
tr:nth-child(even) td{
    background-color:#999999;
}
a {
    color: rgba(165,42,42,1);
}
#artistName {
    position: absolute;
    background-color: rgba(165,42,42,1);
    color: white;
    border-radius: 0.5em;
    padding: 0.25em 0.3em;
    transition-property: opacity;
    transition-duration: 250ms;
    box-shadow: rgba(0,0,0,0.5) 0.5em 0.5em 2em;
}

#songs td[data-artist] {
    cursor: help;
}

.hidden {
    opacity: 0;
}
