/* stylevan.css */
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  width: 40%;
  /* border: solid black 2px; */
}

.busje {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  border: solid black 1px;
  width: 15%;
  height: 50%;
  font-size: 12px;
  display: block;
}

button:hover {
  background-color: yellow;
  transition-duration: 0.3s;
  color: black;
}

.slidecontainer {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 5vh;
  /* border: solid black 2px; */
}

.slider {
  margin-left: 35%;
  margin-right: auto;
  width: 40%;
  outline: none;
}

/* .normal {
  
}
.grayscale 
{

}
.sepia 
{

}
.hue 
{
  
}
.blur 
{
 
} */

@media all and (max-width: 500px) {
  .busje {
    height: 30vh;
    width: 75vw;
  }

  .container {
    width: 100%;
  }

  button {
    text-align: center;
    size: 20%;
    font-size: 9px;
    display: block;
  }

  .grayscale {
    font-size: 9px;
    width: 20%;
  }
}

@media all and (max-width: 1000px) {
  .container {
    width: 90%;

  }

  button {
    width: 12%;
  }
}