/* stylevan.css */
.container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  width: 40%;
  /* border: solid black 2px; */
}

.busje {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

button {
  border: solid black 1px;
  width: 15%;
  height: 50%;
  font-size: 12px;
  display: block;
}

button:hover {
  background-color: yellow;
  transition-duration: 0.3s;
  color: black;
}

.slidecontainer{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 5vh;
  border: solid black 2px;
}

.slider{
  margin-left: 35%;
  margin-right: auto;
  width: 40%;
}

/* .normal {
  
}
.grayscale 
{

}
.sepia 
{

}
.hue 
{
  
}
.blur 
{
 
} */

@media all and (max-width: px) {
  .h1 {
    order: 1
  }

  .busje {
    order: 2
  }

  .normal {
    order: 3
  }

  .grayscale {
    order: 3
  }

  .sepia {
    order: 3
  }

  .hue {
    order: 3
  }

  .blur {
    order: 3
  }
}